@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {

    max-width: 1920px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #000;

}

header {

    background-image: url(img/Background.svg);

}

.header {

    margin-left: 120px;
    margin-top: 25px;
}

.header-conteudo2 {

    display: flex;

}

.logo {

    display: flex;

}

.header .texto-logo {

    align-self: center;
    margin-left: 8px;

}

.barra-navegacao {

    justify-content: right;
    margin-left: 500px;

}

.barra-navegacao li {

    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;

}

a:visited {
    color: #000;
}

a:link {
    color: #000;
}

a {
    text-decoration-line: none;
}

a:hover {

    transition: 0.5s;
    text-decoration-line: underline;
    
}

h1 {

    margin-top: 113px;
    margin-left: 120px;
    font-size: 48px;
    margin-bottom: 50px;
    line-height: normal;
    font-weight: 400;
}

.conteudo-header {

    padding: 100px;
    font-size: 20px;
    margin-left: 10px;
    padding-bottom: 145px;
}

.titulo-main {

    margin-top: 100px;
    margin-left: 120px;
    margin-bottom: 50px;

}



.conteudo-main {

    display: flex;

}

.texto-main {

    margin-left: 120px;
    margin-top: 10px;
    max-width: 90%;
    padding: 15px;
    font-size: 20px;
}

#texto {

    margin-bottom: 70px;
}

.texto-main li {

    font-weight: bold;
}

.texto-main p {

    font-weight: 400;
    
}